Flask==3.1.1
Flask-Pydantic==0.13.1 # dep: pydantic
Flask-HTTPAuth==4.8.0
flask-cors==6.0.1

# Tests
pytest==8.4.1

# Databases
SQLAlchemy==2.0.41
alembic==1.16.4
psycopg2==2.9.10
redis==6.2.0

# etc
PyJWT==2.10.1
phonenumbers==9.0.10
structlog==25.4.0
email_validator==2.2.0
